*{
    margin:0;
    padding:0;
}

#title{
    text-align: center;
    margin: 50px;
    color: white;
}

body{
    background-color: black;
}



#principal{
    margin: auto;
    border: 1px solid white;
    border-radius: 5px;
    width: 20%;
    padding: 50px;
    text-align: center;
}




#on-off{
    margin: 10px 30px;
    padding: 5px 15px;
    background-color: antiquewhite;
    border-color: rgb(180, 168, 153);
    box-shadow: 1px 1px 1px black;
    font-style: italic;
    font-weight: bold;
}

#lamp{
    margin-bottom: 50px;
    
}

#reset{
    background-color: rgb(255, 255, 255);
    border-color: rgb(180, 168, 153);
    box-shadow: 1px 1px 1px black;
    padding: 10px 25px;
    position: absolute;
    right: 815px;
    top: 150px;
    
}