:root {
    --mainBgColor: hsl(30,38%,92%);
    --paragraphColor: hsl(228, 12%, 48%);
    --perfumeColor: hsl(212,21%,14%);
    --componentsColor: hsl(158,36%,37%);
    --hoverComponentsColor: hsl(0,0%,100%);
    --cardBgColor: hsl(0,0%,100%);
    --externalLinkColor:hsl(228,45%,44%);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box; /* facilita o calculo de pixels etc */
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mainBgColor);
} 

main{
    width: 100%;
}

.card{
   min-width: 600px;
   width: 30%;
   margin: 0 auto;
   display: flex;
   background-color: #fff;
   border-radius: 10px;
}

/* div esquerda do card */
.left{
   width: 50%; 
   background-image: url('images/image-product-desktop.jpg');
   background-position: center; /* centralizado no meio da imagem */
   background-size:cover;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}

.right{
   width: 50%; 
   display: flex;
   flex-direction: column;
   row-gap: 24px;
   padding: 35px 40px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
}

.item-category{
    font-size: 15px;
    color: var(--paragraphColor);
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 500;
}

h1{
   font-size: 38px;
   color: var(--perfumeColor);
}

.description{
    width: 85%;
    line-height: 1.5;
    color: var(--paragraphColor);
    font-size: 14px;
}

.prices{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
}

.prices-updated{
    font-size: 36px;
    color: var(--componentsColor);
}

.prices-previous{
    font-size: 14px;
    text-decoration: line-through;
    color: var(--paragraphColor);
}

button{
    width:100%;
    padding: 17px 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    border-radius: 7px;
    background-color: var(--componentsColor);
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: rgb(82, 182, 145);

}

button img{
    margin-right: 7px;
}

@media only screen and (min-width:641px) and (max-width: 768px){
    .card{
        max-width: 600px;
    }
}

@media only screen and (max-width: 640px){
    .card{
        min-width: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .left{
       width: 100%;
       height: 350px;
       background-image: url(images/image-product-mobile.jpg);
       border-radius: 10px 10px 0 0;
    }

    .right{
        width: 100%;
        row-gap: 12px;
        padding: 25px;
        border-radius: 0 0 10px 10px;
    }

    .item-category{
        font-size: 14px;

    }

    h1{
        font-size: 32px;
        line-height: 1;
    }

    .description{
       width: 95%; 
       margin-top: 10px;
       margin-bottom: 15px;
       line-height: 1.7;
       font-size: 12px;
    }

    button{
      
    }
}