/* Reset de estilos padrão do navegador */
* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: large;
}

p{
    margin: 5px;
}

.calc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
    border: 3px solid #bbb;
    width: 230px;
    border-radius: 5px;
}


/*titulo*/
.div-nome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
}



.display{
    width: 220px;
    background-color: darkgray;
    text-align: right;
    padding: 4px;
    font-family: monospace;
    font-size: larger;
    border-radius: 5px;
}

.div-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
}


.div-teclas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    flex-wrap: wrap;
    
}

.tecla {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(114, 113, 113);
    border: 3px solid rgb(24, 24, 24);
    border-radius: 10px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 2px;
    
}

.tecla:hover{
    background-color: rgb(187, 186, 186);
}

.tecla-operacao{
    background-color: rgb(136, 126, 126);
    border-color: rgb(19, 18, 18);
}

.tecla-operacao:hover{
    background-color: rgb(173, 197, 204);
}


#t-on-off{
    background-color: rgb(68, 67, 67);
    color: rgb(238, 163, 66);
}

#t-on-off:hover{
    background-color: rgb(245, 58, 58);
    color: black;
}

#t-limpar:hover{
    background-color: rgb(241, 222, 138);
}